.search {
    width: 25%;
    height: 80%;
}

.search__box {
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px #018F8F50;

    .search__input {
        flex: 1;
        padding: 0.6rem;
        border-radius: 10rem;
        border: 1px solid transparent;

        &:focus:active {
            border: 1px solid rgba(0,0,0,0.2);
        }
    }

    .search__icon {
        width: 10%;
        font-size: 1.2rem;
        color: #018F8F;
    }
}

.search__info {
    color: #656565;
    font-size: 0.75rem;
    margin: 0.5rem 0 2rem 0;
}

.input--container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;

    &:not(:last-child){
        margin-right: 1rem;
    }

    .input--date {
        width: 100%;
        border-radius: .5rem;
        border: 1px solid #018F8F;
    }

    .input--date {
        padding-left: 1rem;
        font-size: 1.15rem;
        

        &::-webkit-calendar-picker-indicator {
            font-size: 1.15rem;
            padding: 1rem;
        }
    }
}