html,
body {
  padding: 0;
  margin: 0;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
  background: #E8804B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Mui-active {
  color: #fff !important
}

.MuiTableSortLabel-icon {
  color: #fff !important
}